@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@300&family=Poppins:wght@200&family=Ubuntu:wght@500&display=swap');

:root{
    --VeryLightGrayishBlue : hsl(240, 78%, 98%);  
    --LightGrayishBlue: hsl(234, 14%, 74%); 
    --GrayishBlue: hsl(233, 13%, 49%); 
    --DarkGrayishBlue: hsl(232, 13%, 33%);
    --LinearGradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
    --fontSize : 15px; 
}


body { 
    background-color:hsl(237, 100%, 93%) ;
    background-image: url('./images/bg-top.svg'); 
    background-position: 120% 100%;
}

*{
    margin: 0;
    padding: 0;
}

h1, h2, p, .price, .priceAnnual{
    font-family: 'Montserrat', sans-serif;
    font-size:var(--fontSize);
}

.container {
    height: 50%;
    margin: 10px;
}

.container > h1 {
    text-align: center;
    margin: 10px;
    position: relative;
    margin-right: 4%;
    font-size: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    position:relative;
    margin-left: 40%;
    gap: 10px;
}
/**/

/*Basic container*/

.priceContainer{
    position: relative;
    top: 30px;
}

.priceRow{
    display: flex;
    flex-direction: row;
    justify-content:center; 
}

.blockContainer{
    margin:1%;
    border-style: solid;
    width:22%; 
    height: 300px;
    border-radius: 4%;
    background-color: #ffffff;
}


.blockContainer:nth-child(2n){
    background-color: hsl(236, 72%, 79%);
    background-image: linear-gradient(0deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}

.blockContainer:nth-child(2n) > h2{
    color: var(--VeryLightGrayishBlue);
}

button{
    position: relative;
    left: 37%;
}

h2{
    color:var(--DarkGrayishBlue);
}

.blockContainer > h2, p{
    text-align: center;
    height: 14%;
    margin: 4px;
    font-size: 15px;
    font-weight: 700;
}


.price{
    font-weight: 700;
    position: relative;
    bottom: 17px;
    left: 26%;
    font-size: 40px;
}



/*End basic container*/
.toggle-switch, .toggle-switch .toggle-knob {
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.toggle-switch {
    height: 30px;
    width: 55px;
    display: inline-block;
    background-color: #ffffff;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px #d2d6de;
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.toggle-switch .toggle-knob {
    width: 28px;
    height: 26px;
    display: inline-block;
    background-color: #ffffff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
    border-radius: 26px;
    margin: 1px 1px;
}

.toggle-switch.active {
    background-color: #77e189;
    border: solid 1px transparent;
}

.toggle-switch.active .toggle-knob {
    margin-left: 24px;
}